<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Ubuntu Countdown Widget
  ~ Copyright (C) 2022 Roberto Leinardi
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms
  ~ of the GNU General Public License as published by the Free Software Foundation,
  ~ either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY
  ~ WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  ~ A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with this
  ~ program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leinardi.ubuntucountdownwidget"
    android:installLocation="internalOnly"
    
     >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.leinardi.ubuntucountdownwidget.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.leinardi.ubuntucountdownwidget.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme" >
        <receiver
            android:name="com.leinardi.ubuntucountdownwidget.appwidgets.Widget1x1Provider"
            android:exported="true"
            android:label="@string/widget_1x1_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <!-- <action -->
                <!-- android:name="android.intent.action.DATE_CHANGED" /> -->
                <action android:name="com.leinardi.ubuntucountdownwidget.FORCE_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_1x1" />
        </receiver>
        <receiver
            android:name="com.leinardi.ubuntucountdownwidget.appwidgets.Widget2x2Provider"
            android:exported="true"
            android:label="@string/widget_2x2_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <!-- <action -->
                <!-- android:name="android.intent.action.DATE_CHANGED" /> -->
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_2x2" />
        </receiver>

        <activity
            android:name="com.leinardi.ubuntucountdownwidget.ui.LauncherActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.leinardi.ubuntucountdownwidget.ui.SettingsActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d6a7d9e5206bea5363da94713b01b7419cb2dcd3" />

        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.leinardi.ubuntucountdownwidget.androidx-startup"
            android:exported="false" >
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>